<%- include('parts/header.ejs' )%>

<main class="container">
    <h2 class="text-center mt-4">Assalomu alaykum, <%= user_name ? user_name : "Mehmon" %></h2>
</main>
<%- include('parts/footer.ejs' )%>

